<!-- <h1>Hey</h1>
<app-container>
    <h1>This is from ng-container</h1>
    <app-rooms></app-rooms>
    <app-employee></app-employee>
</app-container> -->
<!-- <app-rooms> -->
<!-- <div #name></div> -->


<!-- <div>
    <ng-container #user></ng-container>
</div> -->

<!-- <div [ngSwitch]="role">
    <p *ngSwitchCase="'admin'">
        welcome admin
    </p>
    <p *ngSwitchCase="'user'">
        welcome user
    </p>
    <p *ngSwitchDefault>
        welcome guest
    </p>
</div> -->
<!-- <a [routerLink]="'rooms'">Rooms</a>
<a [routerLink]="'employee'">Employee</a> -->
<app-nav></app-nav>
<!-- <router-outlet /> -->
